
<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron jumbotron-fluid jumbo-top">
   <div class="container">
      <div class="row justify-content-center header-content">
        <div class="col-md-8">
          <h1 class="text-center">Build something users love</h1>
          <h5 class="text-center">Neuroscience UX <br> research platform</h5>
          <p class="text-center"><a class="btn btn-primary btn-md text-center feature-cta" href="#" role="button">Sign Up</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center" id="block-1-1">
      <div class="col-md-8">
        <h1 class="text-center">Know what your users are thinking</h1>
        <p class="text-center">Perceptr brings human centered design to life. Our platform enables anyone to leverage advances in neuroscience and machine learning to know what users are feeling when they use your products.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center" id="block-1-3">
      <div class="col-md-6">
          <h1 class="text-center">The Platform</h1>

          <br><br>

          <div class="text-center"><%= image_tag "platform.png", class: "img-fluid" %></div>

          <br><br><br>

          <p class="text-center">Perceptr platform is an on-demand research platform for running leading edge UX research. Test products, prototypes and more remotely or on location.</p>

          <br>

          <div class="text-center"><button class="btn btn-primary">Learn More</button></div>
      </div>
    </div>
  </div>


  <div class="container">
      <div class="row justify-content-center" id="block-1-4">
        <h1>Services</h1>
      </div>
      <!-- Example row of columns -->
    <div class="row justify-content-center">
        <div class="col-md-3 services-col">
          <a><%= fa_icon "flask 4x" %></a>
          <h2 class="text-center">Testing</h2>
          <p class="text-center">User testing across devices, context and content. Our leading techology led approach will put you in the mind of the user.</p>

        </div>
        <div class="col-md-3 services-col">
          <a><%= fa_icon "list 4x" %></a>
          <h2 class="text-center">Validation</h2>
          <p class="text-center">Stack prototypes or designs against one another to validate your hypotheisis about service design or a feature build with confidence.</p>

       </div>
        <div class="col-md-3 services-col">
          <a><%= fa_icon "code-fork 4x" %></a>
          <h2 class="text-center">Design</h2>
          <p class="text-center">Research design and implementation are our expertise. We work with you to build cutting edge research methodologies.</p>
        </div>
        <div class="col-md-3 services-col">
          <a><%= fa_icon "spinner 4x" %></a>
          <h2 class="text-center">Iterate</h2>
          <p class="text-center">Run iterative ongoing tests swiftly and with confidence using our team and resources. Blend agile product methods with leading research techniques.</p>

        </div>
    </div>
  
    <div class="row justify-content-center" id="block-1-5">
          <p class="text-center"><a class="btn btn-primary text-center" href="#" role="button">Learn More</a></p>
    </div>
  </div>
  </div>

  <%= render 'pages/signup-cta' %>


